DEBUG=True
SECRET_KEY=your-secret-key-here
ALLOWED_HOSTS=localhost,127.0.0.1
DATABASE_URL=postgres://user:password@localhost:5432/dbname

# BSE Star MF Credentials
BSE_MEMBER_ID=24637
BSE_USER_ID=2463702
BSE_PASSWORD=Abc@1234

# BSE Star MF URLs (Defaults are UAT. Update for Production)
BSE_ORDER_WSDL=https://bsestarmfdemo.bseindia.com/MFOrderEntry/MFOrder.svc?singleWsdl
BSE_UPLOAD_SERVICE_URL=https://bsestarmfdemo.bseindia.com/StarMFFileUploadService/StarMFFileUploadService.svc/Secure/UploadFile
BSE_UPLOAD_WSDL=https://bsestarmfdemo.bseindia.com/MFUploadService/MFUploadService.svc?singleWsdl
BSE_QUERY_WSDL=https://bsestarmfdemo.bseindia.com/StarMFWebService/StarMFWebService.svc?singleWsdl
BSE_COMMON_API_URL=https://bsestarmfdemo.bseindia.com/BSEMFWEBAPI/UCCAPI/UCCRegistrationV183
BSE_EMANDATE_AUTH_URL=https://bsestarmfdemo.bseindia.com/Emandate/EmandateAuthURL.aspx
BSE_EMANDATE_API_URL=https://bsestarmfdemo.bseindia.com/StarMFWebService/StarMFWebService.svc/EMandateAuthURL

# CVL KRA Credentials
CVL_USER_NAME=webnspl
CVL_POS_CODE=nspl
CVL_PASSWORD=Cvlkra@1234
# Uncomment and set if you need to override the WSDL endpoint
# CVL_SERVICE_URL=https://krapancheck.cvlindia.com/CVLRestInquiry.svc
