asgiref==3.11.0
attrs==25.4.0
certifi==2026.1.4
charset-normalizer==3.4.4
Django==6.0.1
djangorestframework==3.16.1
django-widget-tweaks==1.5.1
factory-boy==3.3.3
faker==40.1.0
greenlet==3.2.4
idna==3.11
isodate==0.7.2
lxml==6.0.2
platformdirs==4.5.1
playwright==1.55.0
pluggy==1.6.0
pyee==13.0.0
pytz==2025.2
pytest==9.0.2
pytest-django==4.11.1
requests==2.32.5
requests-file==3.0.1
requests-toolbelt==1.0.0
sqlparse==0.5.5
typing_extensions==4.15.0
urllib3==2.6.3
zeep==4.3.2
openpyxl==3.1.5
pdfplumber==0.11.0
