{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
    <title>Reset Password - Mutual Fund Portal</title>
    <!-- CSS Assets -->
    <link rel="stylesheet" href="{% static 'css/app.css' %}" />
    <script src="{% static 'js/app.js' %}" defer></script>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet" />
    <script>
      localStorage.getItem("dark-mode") === "dark" && document.documentElement.classList.add("dark");
    </script>
  </head>
  <body class="is-header-blur is-sidebar-open">
    <div class="app-preloader fixed z-50 grid h-full w-full place-content-center bg-slate-50 dark:bg-navy-900">
      <div class="app-preloader-inner relative inline-block size-48"></div>
    </div>
    <div id="root" class="min-h-100vh cloak flex grow bg-slate-50 dark:bg-navy-900">
       <main class="flex w-full flex-col items-center bg-white dark:bg-navy-700 lg:max-w-md mx-auto justify-center">
        <div class="flex w-full max-w-sm grow flex-col justify-center p-5">
          <div class="text-center">
            <img class="mx-auto" src="{% static 'images/logo12.png' %}" alt="logo"/>
            <div class="mt-4">
              <h2 class="text-2xl font-semibold text-slate-600 dark:text-navy-100">
                Reset Password
              </h2>
              <p class="text-slate-400 dark:text-navy-300">
                Enter your email address to reset your password.
              </p>
            </div>
          </div>
          <div class="mt-16">
            <form method="post">
                {% csrf_token %}
                {% if form.non_field_errors %}
                <div class="mb-4 text-center text-error">
                    {{ form.non_field_errors }}
                </div>
                {% endif %}

                <label class="relative flex">
                    <input class="form-input peer w-full rounded-lg bg-slate-150 px-3 py-2 pl-9 ring-primary/50 placeholder:text-slate-400 hover:bg-slate-200 focus:ring-3 dark:bg-navy-900/90 dark:ring-accent/50 dark:placeholder:text-navy-300 dark:hover:bg-navy-900 dark:focus:bg-navy-900"
                    placeholder="Email Address" type="email" name="email" required id="id_email" />
                    <span class="pointer-events-none absolute flex h-full w-10 items-center justify-center text-slate-400 peer-focus:text-primary dark:text-navy-300 dark:peer-focus:text-accent">
                        <svg xmlns="http://www.w3.org/2000/svg" class="size-5 transition-colors duration-200" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M3 8l7.89 5.26a2 2 0 002.22 0L21 8M5 19h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v10a2 2 0 002 2z" />
                        </svg>
                    </span>
                </label>
                {% if form.email.errors %}
                    <p class="text-error mt-1 text-sm">{{ form.email.errors.0 }}</p>
                {% endif %}

                <button type="submit" class="btn mt-10 h-10 w-full bg-primary font-medium text-white hover:bg-primary-focus focus:bg-primary-focus active:bg-primary-focus/90 dark:bg-accent dark:hover:bg-accent-focus dark:focus:bg-accent-focus dark:active:bg-accent/90">
                Send Reset Link
                </button>

                <div class="mt-4 text-center">
                    <a href="{% url 'users:login' %}" class="text-xs text-slate-400 hover:text-primary">Back to Login</a>
                </div>
            </form>
          </div>
        </div>
      </main>
    </div>
  </body>
</html>
